[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
[submodule "third_party/readstat"]
	path = third_party/readstat
	url = https://github.com/WizardMac/ReadStat.git
